*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 50px;
  font-weight: 900;

}
h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

:root{
  --bluejumbo: #B4D0E7;
  --bluebutton:#0061FF;
  --greenbox: #A2D39B;
  --purplebox:#61082B;
  --bluemiddle:#0093CE;
  --redtopps: #FF1C1C;
  --redworld:#D5001F;
  --bluehearst: #B4D0E7;
  --bluelonelu: #0D2481;
  --yellowclearchannel:#FFD830;
  --whitebigbox:#F5F5F5;
  --bluefooter:#F5F5F5;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


.flex{
  display: flex;
}

.block{
  display: block;
}


.justify-contents-center{
  justify-content: center;
}

.justify-contents-between{
  justify-content: space-between;
}

.display-inline{
  display: inline-block;
}

.align-items{
  align-items: center;
}

.row{
  flex-direction: row;
}

.btn{
  padding: 8px 15px;
  border: none;

}

.btn:hover{
  box-shadow: gray 0 0 10px 0;
  scale: 1.01;
}

.wrap{
  flex-wrap: wrap;
}



/* HEADER */

header{
  background-color: white;
  height: 70px;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

}

.row{
  height: 100%;
}

.menu-header, .logo-header, .btn-header{
  margin-right: 20px;
}

.menu-header a{
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.menu-header:hover a{
  text-decoration-line: underline;
  text-underline-offset: 175%;
}

.row .btn{
  background-color: var(--bluebutton);
  color: white;
}

/* MAIN */

/* JUMBO */


.jumbo{
  background-color: var(--bluejumbo);
  margin-top: 70px;
  height: 680px;
  padding-top: 70px;
}

.jumbo-content{
  position: relative;
  background-attachment: fixed;

}

.jumbo h1{
  font-size: 80px;
  font-weight: bold;
}

.jumbo p{
  line-height: 20px;
}

.jumbo p, .jumbo button{
  margin-bottom: 30px;

}

.jumbo .btn{
  background-color: var(--bluebutton);
  color: white;
}


.text-left{
  position: absolute;
  left: 0;
  top: 120%;
  height: 380px;
  width: 30%;
  min-width: 30%;


}

.fa-arrow-down{
  margin-top: 50px;
  position: absolute;
  bottom: 45px;
  z-index: 998;
  font-weight: bold;
  font-size: 70px;
  color: black;
}

.image-jumbo{
  position: absolute;
  background-attachment: fixed;
  right: 0;
  bottom: -500px;
  overflow: visible;
  width: 65%;
  min-width: 65%;
  height: 450px;
  min-width: 300px;

}

.jumbo img{
  width: 100%;
}

/* CONTENUTI */

.container-contenuti .container{
  width: 60%;
}

/* SECTION-COLONNE */



.section-colonne{
  padding-top: 150px;
}

#titolo-section-colonne{

  margin-bottom: 50px;
}

.circle-blue{
  border-radius: 50%;
  outline: 4px solid var(--bluebutton) ;
  outline-offset: -4px;
}

.section-colonne i{
  margin-right: 5px;
}

.section-colonne span{
  margin-right: 30px;
}

.col-title{
  margin-top: 50px;
  width: 30%;
  padding: 15px;
  border: 1px solid rgba(214, 211, 211, 0.726);
  text-align: center;

}

.col{
  width: 30%;
  border: 1px solid rgba(214, 211, 211, 0.726);
  padding: 30px;
  
}

.list-col{

  height: 20%;
}

.col h4{
  font-size: 25px;
  margin-bottom: 15px;
}

.col p{
  font-size: 15px;
  margin-bottom: 10px;
}

.p-grey{
  color: gray;
}

.col nav{
  margin-top: 40px;
}

.col li{
  list-style: none;
  margin-bottom: 20px;

}

.col .btn{
  background-color: var(--bluebutton);
  width: 100%;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  

}

hr{
 border-color:  rgba(214, 211, 211, 0.7);
 width: 40px;
 margin: 30px 0;
}

.icon-text i {
  float: left;
}

.icon-text span{
  float: right;
}









/* SECTION COLONNA HORIZONTALE */

.bar-container-colonna{
  margin-top: 50px;
  width: 100%;
  border: 1px solid rgba(214, 211, 211, 0.726);
  padding: 15px;
  text-align: center;
}

.text-container-colonna{
  width: 100%;
  border: 1px solid rgba(214, 211, 211, 0.726);
  padding: 30px;
  text-align: center;
  height: 200px;
}
.text-box-left{
  text-align: left;
  width: 65%;
}

.text-box-left :nth-child(2){
  margin-bottom: 40px;
}
.text-box-left h2{
  font-size: 30px;
  margin-bottom: 20px;
}

.text-box-left p{
  font-size: 15px;
}

.btn-right-box .btn{
  padding: 10px 35px;
  background-color: var(--bluebutton);
  color: white;
}

/* SECTION IMAGE TEXT BIG */

.image-text-big{
  margin-top: 180px;
  margin-bottom: 180px;
}



.image-text-big-float .img{
  width: 60%;

}


.image-text-big img{
  width: 100%;
}

.image-text-big-float h4{
  font-size: 30px;

}

.image-text-big-float p{
  font-size: 15px;
  margin: 20px 0 40px 0;
  line-height: 20px;

}

.image-text-big-float .text{
  width: 50%;
  padding: 20px 160px 0 40px;
}

.image-text-big-float .btn{
  border: 1px solid black;
  background-color: white;
}

/* SECTION OPERAZIONI */

.box-operazioni{
  margin-top: 60px;
  width: calc(100% / 3);
  padding-right: 40px;

}




.box-operazioni p{
  font-size: 18px;
  line-height: 25px;
  margin-top: 30px;
}

.box-operazioni img{
  width: 100%;


}
.operazioni h2{

  font-size: 40px;
}

/* SECTION SCOPRE DI PIÙ */

.scopre-di-più{
  width: 100%;
  height: 600px;
  margin-top: 30px;
}

#scopre-di-più{
  height: 200px;
  width: 800px;
}

#scopre-di-più h1{
  margin-bottom: 90px;

}

/* SECTION COLOR BOXES */


.color-box{
  width: calc(100% / 3);
  height: 100%;
  border: none;
  aspect-ratio: 1.1; 
}

.mini-box-color{

  width: calc(100% / 2);
  height: auto;
}

.mini-box-color img{
  width: 50%;
  filter: invert(100%);
}

.color-box-middle{
  background-color: var(--whitebigbox);
}

.color-box-middle img{
  width: 50%;
  
}

.box-middle-text{
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  
}

.box-middle-text :nth-child(4){
  margin-top: 25px;
}

.box-middle-text hr{
  width: 20%;
}

/* COLOR OF BOX */

.design{
  background-color: var(--greenbox);
}

.arizona{
  background-color: var(--purplebox);
}

.florida{
  background-color: var(--bluemiddle);
}

.topps{
  background-color: var(--redtopps);
}

.world{
  background-color: var(--purplebox);
}

.arizona{
  background-color: var(--redworld);
}

.hearst{
  background-color: var(--bluehearst);
}

.lonely{
  background-color: var(--bluelonelu);
}

.clear{
  background-color: var(--yellowclearchannel);
}


.design:hover{
  border: 20px solid rgb(184, 243, 184);
}





/* SECTION FOOTER BLUE */

.footer-blue{
  background-color: var(--bluehearst);
  height:350px
}

.text-section-blue{
  justify-content: space-between;
  width: 50%;
  align-items: center;
  height: 100%;

}

.text-section-blue h2{
  color: var(--purplebox);
}


.text-section-blue button{
  color: black;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 15px;
}

/* SECTION OPZIONI */

.container-domande{
  width: 60%;
}

.options h1{
  padding: 100px 0 70px 0;
}
.opzioni-domande{
  width: 100%;
}

.options{
  margin-bottom: 100px;
}

.option{
  width: 100%;
  padding: 35px 0;
  display: inline;
  border-top: 2px solid rgba(214, 211, 211, 0.726);
  border-bottom: 2px solid rgba(214, 211, 211, 0.726);
}

.option p{
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-right: 30px;
  z-index: 999;
  margin-bottom: 10px;
  
}

.option i{
  float: right;
  padding-left: 40px; 
}

.option{
  opacity: 1;
  
}

.text-opacity{
  opacity: 0;
  font-weight: lighter;
}


.option:hover .text-opacity{
  opacity: 1;
}


/* MENU FOTTER */

.menu-footer{
  background-color: black;
  padding: 100px 0 130px 0;
  height: 750px;
}

.menus-footer{
  width: 100%;
  height: 100%;

}

.col-footer{
  padding-right: 30px;
}

.col-footer h3{
  color: white;
  margin-bottom: 30px;
}

.col-footer li{
  color: white;
  list-style: none;
  padding: 18px 0;
  font-size: 18px;
}

.col-footer{
  width: calc(100% / 5);
  flex-direction: column;
  display: inline-block;;
}

.box-lenguage{
  width: 50px;
  align-items: center;
}

.lenguage{
  flex-direction: row;
  color: gray;
  height: 100%;
  align-items: center;
  
}

.lenguage p{
  padding: 0 20px;
  height: 100%;
  font-size: 18px;
  
}

#hr-footer{
  width: 10%;
}














