*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

:root{
  --bluejumbo: #B4D0E7;
  --bluebutton:#0061FF;
  --greenbox: #A2D39B;
  --purplebox:#61082B;
  --bluemiddle:#0093CE;
  --redtopps: #FF1C1C;
  --redworld:#D5001F;
  --bluehearst: #B4D0E7;
  --bluelonelu: #0D2481;
  --yellowclearchannel:#FFD830;
  --whitebigbox:#F5F5F5;
  --bluefooter:#F5F5F5;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


.flex{
  display: flex;
}

.block{
  display: block;
}


.justify-contents-center{
  justify-content: center;
}

.justify-contents-between{
  justify-content: space-between;
}

.display-inline{
  display: inline-block;
}

.align-items{
  align-items: center;
}

.row{
  flex-direction: row;
}

.btn{
  padding: 8px 15px;
  border: none;

}

.btn:hover{
  box-shadow: gray 0 0 10px 0;
  scale: 1.01;
}

.wrap{
  flex-wrap: wrap;
}



/* HEADER */

header{
  background-color: white;
  height: 70px;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  
}

.row{
  height: 100%;
}

.menu-header, .logo-header, .btn-header{
  margin-right: 20px;
}

.menu-header a{
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

.menu-header:hover a{
  text-decoration-line: underline;
  text-underline-offset: 175%;
}

.row .btn{
  background-color: var(--bluebutton);
  color: white;
}

/* MAIN */

/* JUMBO */


.jumbo{
  background-color: var(--bluejumbo);
  margin-top: 70px;
  height: 680px;
  padding-top: 70px;
}

.jumbo-content{
  position: relative;

}

.jumbo h1{
  font-size: 80px;
  font-weight: bold;
}

.jumbo p{
  line-height: 20px;
}

.jumbo p, .jumbo button{
  margin-bottom: 30px;

}

.jumbo .btn{
  background-color: var(--bluebutton);
  color: white;
}


.text-left{
  position: absolute;
  left: 0;
  top: 120%;
  height: 380px;
  width: 30%;

}

.fa-arrow-down{
  margin-top: 50px;
  font-weight: bold;
  font-size: 70px;
  color: black;
}

.image-jumbo{
  position: absolute;
  right: 0;
  top: 120%;
  width: 65%;
  height: 450px;
  min-width: 300px;
 
}

.jumbo img{
  width: 100%;
}

/* CONTENUTI */

.container-contenuti .container{
  width: 60%;
}

/* SECTION-COLONNE */



.section-colonne{
  padding-top: 150px;
}

#titolo-section-colonne{
  font-size: 40px;
  margin-bottom: 50px;
}

.circle-blue{
  border-radius: 50%;
  outline: 4px solid var(--bluebutton) ;
  outline-offset: -4px;
}

.section-colonne i{
  margin-right: 5px;
}

.section-colonne span{
  margin-right: 30px;
}

.col-title{
  margin-top: 50px;
  width: 30%;
  padding: 15px;
  border: 1px solid rgba(214, 211, 211, 0.726);
  text-align: center;
  
}

.col{
  width: 30%;
  border: 1px solid rgba(214, 211, 211, 0.726);
  padding: 30px;
}

.col h3{
  font-size: 30px;
  margin-bottom: 15px;
}

.col p{
  font-size: 15px;
  margin-bottom: 10px;
}

.p-grey{
  color: gray;
}

.col nav{
  margin-top: 40px;
}

.col li{
  list-style: none;
  margin-bottom: 20px;
  
}

.col .btn{
  background-color: var(--bluebutton);
  width: 100%;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;

}

hr{
 border-color:  rgba(214, 211, 211, 0.7);
 width: 40px;
 margin: 30px 0;
}

.icon-text i {
  float: left;
}

.icon-text span{
  float: right;
}
  








/* SECTION COLONNA HORIZONTALE */

.bar-container-colonna{
  margin-top: 50px;
  width: 100%;
  border: 1px solid rgba(214, 211, 211, 0.726);
  padding: 15px;
  text-align: center;
}

.text-container-colonna{
  width: 100%;
  border: 1px solid rgba(214, 211, 211, 0.726);
  padding: 30px;
  text-align: center;
  height: 200px; 
}
.text-box-left{
  text-align: left;
  width: 65%;
}

.text-box-left :nth-child(2){
  margin-bottom: 40px;
}
.text-box-left h2{
  font-size: 30px;
  margin-bottom: 20px;
}

.text-box-left p{
  font-size: 15px;
}

.btn-right-box .btn{
  padding: 10px 35px;
  background-color: var(--bluebutton);
  color: white;
}

/* SECTION IMAGE TEXT BIG */

.image-text-big{
  margin-top: 180px;
  margin-bottom: 180px;
}

.image-text-big .img{
  width: 55%;
  background-color: red;
  height: 500px;
  justify-content: flex-start;

}

.image-text-big .text{
  width: 30%;
  background-color: rosybrown;
  height: 500px;
  padding: 40px 25px;

}

/* SECTION OPERAZIONI */

.box-operazioni{
  margin-top: 60px;
  background-color: pink;
  width: calc(100% / 3);
  height: 500px;
  padding-right: 20px;
  border: 1px solid red;

  
}

.operazioni h2{
  font-size: 40px;
}








