*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

:root{
  --bluejumbo: #B4D0E7;
  --bluebutton:#0061FF;
  --greenbox: #A2D39B;
  --purplebox:#61082B;
  --bluemiddle:#0093CE;
  --redtopps: #FF1C1C;
  --redworld:#D5001F;
  --bluehearst: #B4D0E7;
  --bluelonelu: #0D2481;
  --yellowclearchannel:#FFD830;
  --whitebigbox:#F5F5F5;
  --bluefooter:#F5F5F5;
}

.container1{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container2{
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}


.justify-contents-center{
  justify-content: center;
}

.justify-contents-between{
  justify-content: space-between;
}

.display-inline{
  display: inline-block;
}

.align-items{
  align-items: center;
}

.row{
  flex-direction: row;
}

.btn{
  padding: 5px 10px;

}


/* HEADER */

header{
  background-color: red; /* eliminare */
  height: 70px;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  
}

.row{
  height: 100%;
}

.menu-header, .logo-header, .btn-header{
  margin-right: 20px;
}

/* MAIN */

/* JUMBO */

.jumbo{
  background-color: var(--bluejumbo);
  margin-top: 70px;
  height: 700px;
  padding-top: 60px;
}

.jumbo-content{
  position: relative;

}

.jumbo h1{
  font-size: 80px;
  font-weight: bold;
}

.text-left{
  position: absolute;
  left: 0;
  top: 230px;
  height: 400px;
  width: 350px;
  background-color: red;

}

.image-jumbo{
  position: absolute;
  right: 0;
  top: 230px;
  background-color: red;
  width: 800px;
  height: 460px;
 
}



